p {
  color: red;
  width: 500px;
  border: 1px solid darkblue;
  }
body {background-color:	pink ;
font-size: 16px;
border: 5px solid violet;
padding: 0 20px 20px 20px;
width: 600px;
  margin: 0 auto;
}
html {
  background-color: grey;
}